@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Kanit", sans-serif;
  user-select: none;
  text-align: center;
  padding: 0.5rem 1rem 1rem;
}

.header {
  margin: 0.5rem auto;
}

.compress-text {
  margin-top: 0.2rem;
}
.compress-text span {
  color: indianred;
}

.btn {
  display: inline-block;
  margin: 0 0.1rem;
  padding: 0.1rem 1rem;
  border-radius: 5px;
  border: 2px solid #333;
  background-color: #f8f7f3;
  box-shadow: 2px 2px 0 2px #333;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

.preview {
  min-width: 10rem;
  display: flex;
  justify-content: center;
  gap: 0.3rem;
  padding: 0.3rem;
  border: 2px solid #000;
  border-radius: 8px;
  background-color: #fff;
}

.preview .img-box {
  flex: 1;
}

.preview .title {
  margin-bottom: 0.1rem;
}

.preview img {
  display: block;
  max-width: 600px;
  background: conic-gradient(
      rgb(233, 233, 233) 25%,
      rgb(255, 255, 255) 25%,
      rgb(255, 255, 255) 50%,
      rgb(233, 233, 233) 50%,
      rgb(233, 233, 233) 75%,
      rgb(255, 255, 255) 75%
    )
    repeat 0 0 / 15px 15px;
  border-radius: 5px;
}
